# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables file (VERY IMPORTANT FOR SECURITY)
.env

# Data files (can get very large)
data/

# VS Code settings
.vscode/

# Ignore large data files in the output directory
03_output/*.pkl